<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bear.bearspringboot.mapper.AppMapper">

    <!--这里先这样用吧.肯定有更好的复用方法-->
    <resultMap id="findAllVideos" type="Video">
        <id property="videoId" column="videoId"></id>
        <result column="title" property="title"></result>
        <result column="userTel" property="userTel"></result>
        <result column="url" property="url"></result>
        <result column="lat" property="lat"></result>
        <result column="lng" property="lng"></result>
        <result column="startTime" property="startTime"></result>
        <result column="endTime" property="endTime"></result>
        <result column="flag" property="flag"></result>
        <result column="videoUrl" property="videoUrl"></result>
        <association property="user" javaType="com.bear.bearspringboot.entity.User">
            <id column="userTel" property="userTel"></id>
            <result property="userName" column="userName"></result>
        </association>
    </resultMap>

    <select id="isOldUserTel" parameterType="String" resultType="int">
        select count(*) from users where userTel = #{userTel}
    </select>
    <insert id="register" parameterType="User">
        insert into users (userName,userPwd,userTel,isAdmin) values (#{userName},#{userPwd},#{userTel},0)
    </insert>

    <select id="login" resultType="User" parameterType="User">
        select * from users where userTel = #{userTel} and userPwd = #{userPwd} and isAdmin = 0;
    </select>
    <update id="updateUserNameByUserTel" parameterType="User">
        update users set userName = #{userName} where userTel = #{userTel}
    </update>
    <select id="liveHistory" parameterType="String" resultMap="findAllVideos" >
        SELECT * FROM video v left outer join users u on v.userTel = u.userTel where v.userTel = #{userTel}
    </select>
</mapper>
