<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bear.bearspringboot.mapper.ReviewerMapper">


    <insert id="addReviewers">
        insert into plan_reviewer (planId, userTel) values (#{param1}, #{param2})
    </insert>

    <delete id="deleteReviewerById" parameterType="int">
        delete from plan_reviewer where id = #{id}
    </delete>

    <select id="getReviewersByPlanId" parameterType="Reviewer" resultType="Reviewer">
        select planId, id, userTel from plan_reviewer where planId = #{planId}
    </select>

    <select id="getPlansByUserTel" parameterType="String" resultType="com.bear.bearspringboot.entity.vo.ReviewerVo">
        select id, pv.planId, pv.userTel,p.planName from plan_reviewer pv LEFT JOIN plan p
        on p.planId = pv.planId where pv.userTel = #{userTel}
    </select>


</mapper>
