<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bear.bearspringboot.mapper.IndexMapper">
    <select id="getIndexs" parameterType="int">
        select indexId,indexName,enabled,description,minScore,maxScore,`type` from index where planId = #{planId}
    </select>
    <insert id="addIndex" parameterType="Index">
        insert into index (planId,indexName,enabled,description,minScore,maxScore,`type`) values
        (#{planId},#{indexName},#{enabled},#{description},#{minScore},#{maxScore,#{type})
    </insert>
</mapper>
