<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bear.bearspringboot.mapper.IndexMapper">

    <select id="getIndexes" parameterType="int" resultType="Index">
      select indexId,indexName,enabled,description,minScore,maxScore,indexType,options,planId from `index` where planId = #{planId}
    </select>

    <insert id="addIndex" parameterType="Index">
        insert into `index` (planId,indexName,enabled,description,minScore,maxScore,indexType,options) values
        (#{planId},#{indexName},#{enabled},#{description},#{minScore},#{maxScore},#{indexType},#{options})
    </insert>

    <select id="getIndexById" resultType="Index" parameterType="int">
       select indexId,indexName,enabled,description,minScore,maxScore,indexType,options,planId from `index` where indexId = #{indexId}
    </select>

    <update id="updateIndex" parameterType="Index">
        update `index` set indexName = #{indexName},enabled = #{enabled},description = #{description},indexType = #{indexType},
        minScore = #{minScore},maxScore = #{maxScore},options = #{options} where indexId = #{indexId}
    </update>

    <delete id="deleteIndex" parameterType="int">
        delete from `index` where indexId = #{indexId}
    </delete>
</mapper>
