<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bear.bearspringboot.mapper.PlanMapper">

    <insert id="addPlan" parameterType="Plan">
        insert into plan(planName,startTime,endTime) values (#{planName},#{startTime},#{endTime})
    </insert>

    <delete id="deletePlan" parameterType="int">
        delete from plan where planId = #{planId}
    </delete>

    <update id="updatePlan" parameterType="Plan">
        update plan set planName = #{planName},startTime = #{startTime},endTime = #{endTime} where planId = #{planId}
    </update>

    <select id="getPlans" resultType="Plan">
        select planId,planName,startTime,endTime from plan;
    </select>

</mapper>
