<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bear.bearspringboot.mapper.WebMapper">

    <resultMap id="videoInfo" type="Video">
        <id property="videoId" column="videoId"></id>
        <result column="title" property="title"></result>
        <result column="userTel" property="userTel"></result>
        <result column="url" property="url"></result>
        <result column="lat" property="lat"></result>
        <result column="lng" property="lng"></result>
        <result column="startTime" property="startTime"></result>
        <result column="endTime" property="endTime"></result>
        <result column="flag" property="flag"></result>
        <result column="videoUrl" property="videoUrl"></result>
        <association property="user" javaType="com.bear.bearspringboot.entity.User">
            <id column="userTel" property="userTel"></id>
            <result property="userName" column="userName"></result>
        </association>
    </resultMap>

    <select id="findAll" parameterType="int" resultType="User">
        select * from users limit #{param2},#{param1}
    </select>

    <select id="getAllUsers" resultType="User">
        select * from users
    </select>

    <select id="countUsers" resultType="int">
        select count(*) from users
    </select>
    <select id="findByUserTel" resultType="User" parameterType="String">
        select * from users where userTel = #{userTel}
    </select>
    <insert id="save" parameterType="User">
        insert into users (userName,userPwd,isAdmin,userTel) values (#{userName},#{userPwd},#{isAdmin},#{userTel})
    </insert>
    <delete id="deleteByUserTel" parameterType="String">
        delete from users where userTel = #{userTel}
    </delete>
    <update id="update" >
        update users set userName = #{param1.userName},userPwd = #{param1.userPwd},isAdmin=#{param1.isAdmin},userTel= #{param1.userTel} where userTel = #{param2};
    </update>
    <select id="login" parameterType="User" resultType="User">
        select * from users where userTel = #{userTel} and userPwd = #{userPwd} and isAdmin = 1;
    </select>
    <select id="isOldUserTel" resultType="int" parameterType="User">
       select count(*) from users where userTel = #{userTel};
    </select>
    <delete id="batchDeleteUsers" parameterType="list">
        delete from users where userTel in
        <foreach collection="list" item="userTel" open="(" close=")" separator=",">
            #{userTel}
        </foreach>
    </delete>
    <select id="getRecordVideos" resultMap="videoInfo" parameterType="Video">
        select * from video v left outer join users u on v.userTel = u.userTel where v.flag=0 and (v.title != "" and v.title is not null)
        <if test="title != '' and title != null">
            and (v.title like concat('%',#{title},'%') or u.userName like concat('%',#{title},'%'))
        </if>
        <if test="startTime != null">
            and startTime between #{startTime} and #{endTime}
        </if>

    </select>

    <select id="getLatestVideos" resultMap="videoInfo" parameterType="Video">
        select * from video v left outer join users u on v.userTel = u.userTel where (v.title is null or v.title = '') and v.flag = 0
        <if test="startTime != null">
            and v.startTime between #{startTime} and #{endTime}
        </if>
    </select>

    <update id="addTitleById">
        update video set title = #{param2} where videoId in
        <foreach collection="param1" item="videoId" open="(" close=")" separator=",">
            #{videoId}
        </foreach>
    </update>

    <select id="getLiveVideos" parameterType="Video" resultMap="videoInfo">
        select * from video v left outer join users u on v.userTel = u.userTel where v.flag = 1
        <if test="title != '' and title != null">
            and (v.title like concat('%',#{title},'%') or u.userName like concat('%',#{title},'%'))
        </if>
        <if test="userTel != '' and userTel != null">
            and v.userTel = #{userTel}
        </if>
    </select>

</mapper>
